#content-home h2 {
    margin: 0px 20px 20px 20px;
    padding: 0 0 4px;
    border-bottom: 1px #e2e2e2 solid;
}

#content-home h2:first-child {
    margin-top: 20px;
}

#content-home div {
  margin: 20px;
}

#content-home ul {
  list-style-type: none;
  padding: 0px 20px;
}

#content-home h3 {
  font: bold 20px/1.3 Helvetica, Verdana, sans-serif;
  display:inline;
}

#content-home li img {
  width: 80px;
  float: left;
  margin: 0 15px 0 0;
}

#content-home li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
  margin-top:0px;
}

#content-home li {
  padding: 0 0 10px;
  overflow: auto;
}

#content-home li:hover {
  background: #eee;
  cursor: pointer;
}

#content-home a{
    padding:0;
    border:none;
    text-decoration: none;
    color: #333;
}
