<meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1">
<link rel="stylesheet" href="<%= TemplateTags.getThemeAssetUrl('css/common.css') %>">
<link rel="stylesheet" href="<%= TemplateTags.getThemeAssetUrl('css/post-list.css') %>">
<link rel="stylesheet" href="<%= TemplateTags.getThemeAssetUrl('css/post-detail.css') %>">

<script type='text/javascript' src='https://www.google.com/recaptcha/api.js?onload=recaptchaCallback&#038;render=explicit&#038;ver=2.0'></script>

<script type="text/javascript">
var recaptchaWidgets = [];
var recaptchaCallback = function() {
    var forms = document.getElementsByTagName( 'form' );
    var pattern = /(^|\s)g-recaptcha(\s|$)/;

    for ( var i = 0; i < forms.length; i++ ) {
        var divs = forms[ i ].getElementsByTagName( 'div' );

        for ( var j = 0; j < divs.length; j++ ) {
            var sitekey = divs[ j ].getAttribute( 'data-sitekey' );

            if ( divs[ j ].className && divs[ j ].className.match( pattern ) && sitekey ) {
                var params = {
                    'sitekey': sitekey,
                    'type': divs[ j ].getAttribute( 'data-type' ),
                    'size': divs[ j ].getAttribute( 'data-size' ),
                    'theme': divs[ j ].getAttribute( 'data-theme' ),
                    'badge': divs[ j ].getAttribute( 'data-badge' ),
                    'tabindex': divs[ j ].getAttribute( 'data-tabindex' )
                };

                var callback = divs[ j ].getAttribute( 'data-callback' );

                if ( callback && 'function' == typeof window[ callback ] ) {
                    params[ 'callback' ] = window[ callback ];
                }

                var expired_callback = divs[ j ].getAttribute( 'data-expired-callback' );

                if ( expired_callback && 'function' == typeof window[ expired_callback ] ) {
                    params[ 'expired-callback' ] = window[ expired_callback ];
                }

                var widget_id = grecaptcha.render( divs[ j ], params );
                recaptchaWidgets.push( widget_id );
                break;
            }
        }
    }
};

document.addEventListener( 'wpcf7submit', function( event ) {
    switch ( event.detail.status ) {
        case 'spam':
        case 'mail_sent':
        case 'mail_failed':
            for ( var i = 0; i < recaptchaWidgets.length; i++ ) {
                grecaptcha.reset( recaptchaWidgets[ i ] );
            }
    }
}, false );
</script>

<script type='text/javascript'>
/* <![CDATA[ */
var wpcf7 = {"apiSettings":{"root":"http:\/\/local.wp-appkit.com\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"recaptcha":{"messages":{"empty":"Please verify that you are not a robot."}}};
/* ]]> */
</script>

